<div class="row">

  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form #menuForm="ngForm" (ngSubmit)="onSubmit(menuForm)" novalidate>
        <div class="card-body">
          <div class="form-group">
            <label for="name">الاسم </label>
            <input id="name" name="name" #name="ngModel" [(ngModel)]="treeNode.label" type="text" class="form-control"
              placeholder="الاسم" required minlength="4">
            <div *ngIf="!name.valid && (name.dirty ||name.touched)">
              <div class="alert alert-danger ">
                الاسم مطلوب
                <div [hidden]="!name.errors['minlength']">
                  عدد الأحرف يجب أن لا يقل عن {{name.errors['minlength']?.requiredLength}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="url">رابط خارجي</label>
            <input id="url" name="url" type="url" #data="ngModel" [(ngModel)]="treeNode.data.url" class="form-control"
              placeholder="الرابط">
          </div>
          <div class="form-group">
            <label for="routerlink"> صفحة من التطبيق</label>
            <input id="routerlink" name="routerlink" type="routerlink" #data="ngModel"
              [(ngModel)]="treeNode.data.routerlink" class="form-control" placeholder="الرابط">
          </div>
        </div>

        <!-- /.card-body -->
        <div class="card-footer">
          <button [disabled]="!menuForm.valid" class="btn btn-primary">حفظ</button>

        </div>
      </form>
    </div>
    <!-- /.card -->


  </div>
</div>